<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 style="text-align:center" >user Id</h2>
  <div class="wrapper2"> 
    <h3  >{{userId}}</h3>
  </div>
  <h2 style="text-align:center">Id</h2>
  <div class="wrapper"> 
    <h3>{{id}}</h3>
  </div>

  <h2 style="text-align:center">Title</h2>
  <div class="wrapper2"> 
    <h3>{{title}}</h3>
  </div>
 
  <h2 style="text-align:center">Body</h2>
 
  <div class="wrapper"> 
    <h3>{{body}}</h3>
  </div>

</ion-content>
