.wrapper {
    padding-top: 0.15em;
    padding-left: 5em;
    padding-right: 4em;
    background-color: gray;
    box-sizing: border-box;
    border: black;
    border-color: black;
 }

 .wrapper2 {
    padding-top: 0.15em;
    padding-left: 5em;
    padding-right: 4em;
    background-color: blanchedalmond;
    box-sizing: border-box;
    border: black;
    border-color: black;
 }